:root {
	--primary_color: #100637;
	// background: rgb(2,0,36);
	--gradient_color: linear-gradient(56deg, rgba(2, 0, 36, 1) 0%, rgba(17, 11, 84, 1) 25%, rgba(20, 14, 53, 1) 50%, rgba(20, 14, 53, 1) 75%, rgba(17, 11, 84, 1) 100%);
	--color_1: #000;
	--color_2: #fff;
}
