.back_to_top {
	background: transparent;
	border: none;
	width: 0px;
	height: 0px;
	background-color: var(--primary_color);
	box-shadow: 0px 0px 8px white;
	position: fixed;
	right: 80px;
	bottom: 80px;
	border-radius: 50%;
	z-index: 400;
	transition: 0.3s ease-in-out;
	margin: 0;
	padding: 0;
	span {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		stroke: var(--color_2);
		height: 100%;
		padding: 10px;
		transform: rotate(-90deg);
		cursor: pointer;
	}
}
.back_to_top.active {
	width: 50px;
	height: 50px;
}
